*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:science Gothic, sans serif;
}
wrapper
{
    height:100vh;
    width:100vw;
}
h1
{
    margin-top:50px;
    margin-left:100px;
    font-size:72px;
}
p2
{
    display:block;
    font-size:21px;
    margin-left:509px;
    margin-top:-25PX;
}

h2
{
    margin-top:30px;
    margin-left:100PX;
    font-size:40PX;
    color:#6d6969;

}

h3
{
    margin-top:70px;
    margin-left:900px;
    font-size:25px;
    width:800px;
    font-weight:100px;
}

figcaption
{
    position:relative;
    width:500px;
    margin-top:19px;
    height:60px;
    margin-left:200px;
}

p
{
    width:470px;
    margin-left:196px;
    margin-top:-412px;
}
.separado
{
    display:block;
    width:1094px;
    font-size:27px;
    margin-top:146px;
    margin-left:100px;
}
figure
{
    margin-top:50px;
}

img
{
    
    margin-left:200px;
    margin-top:95px;
}



a
{position:relative;
    margin-top:250px;
    margin-left:1200px;
    font-size:30px;
    background:#6D6969;
    color:#ffffff;

}
section
{
    margin-left:1px;
}
h4
{
    margin-left:100px;
    font-size:65px;
    margin-top:400px;
    color:#556b2f;

}
ul
{
   margin-left:150px;
   width:1200px;
   margin-top:70px;
   font-size:25px;

}

a:hover
{
    opacity:0.4;
    
    
}
a:active
{
    opacity:0.8;
    color:#ec56ec99;
}

@media screen and (max-width:1000px)
{
    wrapper
    {
        height:100vh;
        width:100vw;
    }
    h1
    {
        font-size:22px;
        margin-left:15px;
        width:auto;
        font-weight:900;
}
    p2
    {
        display:block;
        font-size:8px;
        margin-left:119px;
        margin-top:-25px;
    }
    h2
    {
        font-size:12px;
        margin-left:-60px;
        text-align:center;    
    }

    .separado
    {
        display:block;
        width:345px;
        font-size:11px;
        margin-top:55px;
        margin-left:14px;
    }

    figure
    {
        margin-top:5px;
    }

    img
    {
        width:351px;
        margin-left:3px;
    }

    figcaption
    {
        font-size:11px;
        width:345px;
        margin-top:-252px;
        margin-left:8px;
        color:#1c3602;
    }


    section
    {
        margin-left:-1086px;
        font-size:11px;
        margin-top:47px;
    }
    a
    {
        font-size:15px;
    }

    p
    {
        width:336px;
        margin-left:16px;
        margin-top:208px;
        font-size:11px;
    }

    h4
    {
        display:block;
        font-size:25px;
        
        margin:10px;
    }

    ul
    {
        width:329px;
        margin-left:24px;
        font-size:12px;
        margin-top:13px;
    }


    }
}
